<div>
  <ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Product & Services</a></li>
    <li>DRMR</li>
  </ul>
</div>
<form>
  <mat-form-field>
    <mat-label>Please Select Option</mat-label>
    <mat-select>
      <mat-option *ngFor="let tool of tools" [value]="tool.value">
        {{tool.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="pl-4">
    <mat-label>Please Select Option</mat-label>
    <mat-select>
      <mat-option *ngFor="let filter of filters" [value]="filter.value">
        {{filter.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="pl-4">
    <input matInput placeholder="Search EG" value="">
  </mat-form-field>

</form>
