<app-filter-wrapper-comp></app-filter-wrapper-comp>


<mat-tab-group>
    <mat-tab label="PRA Report">
      <div class="pt-5">
        <app-pra-report-comp></app-pra-report-comp>
      </div>
    </mat-tab>
    <mat-tab label="PRW Report"> Content 2 </mat-tab>
    <mat-tab label="PRO Report"> Content 3 </mat-tab>
    <mat-tab label="No-IOS Report"> Content 4 </mat-tab>
    <mat-tab label="PRE Report"> Content 5 </mat-tab>
    <mat-tab label="Combined Report"> Content 6 </mat-tab>
    <mat-tab label="Knowledge Break"> Content 7 </mat-tab>
    <mat-tab label="Concentration Break"> Content 8 </mat-tab>
</mat-tab-group>
  